@media print {
    .page-break-after {
        page-break-after: always;
    }

    .no-page-break-inside {
        page-break-inside: avoid;
    }
}

.digit {
    text-align: right !important
}

.mb-3 {
    margin-bottom: 30px;
}

.underline {
    text-decoration: underline;
}

.filters {
    thead tr th {
        text-align: left;
        text-decoration: underline;
    }

    .cut-text-wrapper {
        width: 100%;
        max-width: 800px;
        overflow-wrap: break-word;
    }
}
