// common styles
@import '../common/sass/common';

.print-area {
  display: none;
  background-color: #eee;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

 $circleSize: 80px;

 .circle {
   width: $circleSize;
   height: $circleSize;
   border-radius: 50%;
   font-size: 50px;
   color: #000;
   line-height: $circleSize;
   text-align: center;
   background: #fff;
   border: 2px solid;
  
 }

.step,
.arrow {
 opacity: .2;
 float: left;
}

.arrow i {
 font-size: 100px
}

.step.active {
 opacity: 100
}

.page-content {
 width: 80%;
 min-height: 380px;
 margin-top: 20px;

 label.checkbox {
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
 }

 i.icon {
   font-size: 150px
 }

 .loading-row {
   i.icon {
     opacity: .3;
   };
   padding-top: 10%
 }
}

.be-top-header .be-navbar-header .navbar-brand {
    background-image: none;

    img {
        width: 58px;
        margin-right: 10px;
    }
}

#inventory-table .discontinued {
  background-color: #dedbdb;
}

div.dataTables_wrapper div.dataTables_filter input {
  width: 1%;
}