// common print styles
@import './_print';

@page {
    size: A4 portrait;
}

.label-item {
    width: 25%;
    display: inline-block;
    height: 80px;
    font-size: small;
    margin: 11px 29px;
}

.barcode {
    display: inline-block;
}

.barcode-qty {
    display: inline-block;
    float: right;
    margin-right: 2px;
}

.content {
    width: 100%;
}

.text-cut-wrapper {
    width: 85%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 0.8em;
}

