// common print styles
@import './_print';

@page {
    size: A4 portrait;
}

.print-area {
    width: 100%;
}

.header {
    width: 100%;
}
.cal-img {
    width: 25%;
    height: 100px;
    margin: 0px 10px;
    display: inline-block;
}

.cal-clinic {
    width: 25%;
    height: 100px;
    margin: 0px 15px;
    display: inline-block;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cal-date {
    width: 40%;
    height: 100px;
    margin: 0px 15px;
    display: inline-block;
}

.cell {
    width: 278px;
    height: 148px;
    border: 1px solid #1b1b1b;
    margin: 2px 2px;
}

.label-item {
    width: 30%;
    display: inline-block;
    height: 96px;
    margin: 10px;
}

.barcode {
    display: inline-block;
}

.barcode-qty {
    display: inline-block;
    float: right;
    margin-right: 2px;
}

.content {
    width: 100%;
}
