// common styles
@import '../../common/sass/common';

.be-top-header .be-navbar-header .navbar-brand {
    background-image: none;

    img {
        width: 58px;
        margin-right: 10px;
    }
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 1%;
}