.react-bootstrap-daterangepicker-container {
    display: inherit !important;
}

.order-status {
    padding: 1px 8px;
    color: white !important;
    margin-right: 4px;
    border-radius: 4px;
    display: inline-block;
    white-space: nowrap;
    margin-top: 2px;
}

$orderStatusOpenColor: rgba(255, 0, 0, 1);
$orderStatusSubmittedColor: rgba(0, 153, 255, 1);
$orderStatusReceivedColor: rgb(64, 224, 208);
$orderStatusClosedColor: rgba(51, 204, 51, 1);
$orderStatusCanceledColor: rgba(188, 188, 188, 1);

.order-status-open {
    color: $orderStatusOpenColor
}
.order-status.order-status-open {
    background-color: $orderStatusOpenColor
}

.order-status-submitted, .order-status-partially_received {
    color: $orderStatusSubmittedColor
}
.order-status.order-status-submitted,
.order-status.order-status-partially_received {
    background-color: $orderStatusSubmittedColor
}

.order-status.order-status-received {
    background-color: $orderStatusReceivedColor
}
.order-status-received {
    color: $orderStatusReceivedColor
}

.order-status-closed {
    color: $orderStatusClosedColor
}
.order-status.order-status-closed {
    background-color: $orderStatusClosedColor
}

.order-status-canceled {
    color: $orderStatusCanceledColor
}
.order-status.order-status-canceled {
    background-color: $orderStatusCanceledColor
}

.product-search-option .header {
    font-weight: bold;
    font-size: 1.2em;
}

.product-search-option .additional-info {
    // font-size: 1em;
    color: gray
}

.sub-order-panel .main-panel {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sub-order-panel .main-panel .card-body {
    padding-bottom: 0px;
}

td.product-name-field .name {
    font-size: 1.3em;
    font-weight: bold;
}

td.product-name-field .additional-info,
.price-breaking-label,
.note-edit,
.location-address {
    color: gray;
    font-size: .9em;
}

.old-price {
    color: red;
    text-decoration: line-through;
}

.actual-price {
    color: green;
}

.price-tooltip {
    white-space: nowrap;
}

.note-tooltip {
    width: 250px;
}

.price-breaking-label {
    cursor: pointer;
    text-decoration-style: dotted;
    text-decoration-line: underline;
}

.note-edit {
    cursor: pointer;
    text-decoration-line: underline;
}

#textarea-order-note {
    height: 135px;
}

.all-vendors-tab {
    height: 48px;
}

.all-vendors-tab span {
    vertical-align: middle;
    line-height: 48px;
}

.order-number-column {
    font-weight: bold;
    font-size: 18px;
}

.vendor-status-tooltip {
    width: 630px;
    z-index: 9999999;
}
.vendor-status-tooltip-icon {
    color: #0099ff;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.daterangepicker {
    z-index: 9999 !important;
}

.show-entities-widget {
    div.title {
        float: left;
        line-height: 38px;
        margin-right: 10px;
    }
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    background-image: none !important
}

.react-select.is-invalid {
    border: 1px solid;
    border-radius: 4px;
    border-color: #e3342f;
    padding-right: calc(1.6em + 0.75rem);
    background-image: none;
    background-repeat: no-repeat;
    background-position: center right calc(0.4em + 0.1875rem);
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.react-select.is-invalid~.invalid-feedback,
.react-select.is-invalid~.invalid-tooltip {
    display: block;
}

.clinic-name-field {
    max-width: 330px;
}

$placeholderColor: #B6B9BB;
.form-control::-webkit-input-placeholder { /* Chromium */
    color: $placeholderColor;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $placeholderColor;
    opacity: 1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $placeholderColor;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: $placeholderColor;
}

.account-dropdown {
    .dropdown-menu {
        right: 0;
        left: inherit;
        min-width: 0px;
    }
}

// theme's custom styles
.be-left-sidebar .sidebar-elements>li>a.active {
    padding-left: 20px;
    font-weight: 500;
    color: #4285f4;
}

.be-left-sidebar .sidebar-elements>li ul li>a.active {
    color: #4285f4;
}

.form-group.required label:not(.no-asterisk):after
 {
    content: "*";
    color: red;
}

.search-btn {
    font-size: 2.0em;
}

.paginator-wrapper {
    display: contents;
}

.page-item.active .page-link {
    z-index: 0;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 9999;
}

.modal-footer {
    padding-top: 0px;
}

.form-group small {
    font-size: 0.9rem;
}

.card-filter {
    .card-header {
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .form-group.row {
        padding: 3px 0 !important;
    }
}

.order-form {
    .card {
        border: 1px solid #eee;
    }

    .sub-order-panel {
        .nav-tabs-classic>li.nav-item a.nav-link.active {
            background-color: #8682822e;
        }

        .vendor-tab {
            height: 48px;
        }
    }

}

.prompt {
    padding: 0;
    position: relative;
    line-height: 25px;
    border-width: 0;
    margin-bottom: 18px;
    color: #FFFFFF;
}

.prompt-danger {
    color: #e99daf;
    background-color: #fbd9d7;
    border-color: #f9cac6;
}

.prompt-info {
    color: #50dfea;
    background-color: #e1edff;
    border-color: #d6e6ff;
}

.card-header {
    margin-left: 25px;
    margin-right: 25px;
}

/**
    Applies for all Internet Explorer and Edge versions
**/
@mixin worstBrowsers() {

    /* all IE versions <= 11 */
    @media screen and (-ms-high-contrast: none) {
        @content;
    }

    /* all edge versions */
    @supports (-ms-ime-align:auto) {
        @content;
    }

}


.edge-pr-0 {
    @include worstBrowsers {
        padding-right: 0px;
    }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    background-color: rgba(148, 146, 146, 0.75) !important;
}

.daterangepicker.single .drp-buttons {
    display: block !important;
    .applyBtn {
        display: none !important;
    }
}

.table-column-location-name {
    max-width: 150px;
    overflow-wrap: break-word;
}

.table-column-product-name {
    max-width: 150px;
    overflow-wrap: break-word;
}

.table-column-user-name {
    max-width: 150px;
    overflow-wrap: break-word;
}

.table-column-vendor-name {
    max-width: 150px;
    overflow-wrap: break-word;
}

.table-column-city-name {
    max-width: 120px;
    overflow-wrap: break-word;
}

.table-column-clinic-name {
    max-width: 120px;
    overflow-wrap: break-word;
}

.table-column-address {
    max-width: 500px;
    overflow-wrap: break-word;
}

.table-column-email {
    max-width: 100px;
    overflow-wrap: break-word;
}

.table-column-contact {
    max-width: 120px;
    overflow-wrap: break-word;
}

.table-column-mfr-number {
    max-width: 120px;
    overflow-wrap: break-word;
}

.table-column-vendor-prod-num {
    max-width: 500px;
    overflow-wrap: break-word;
}

.custom-file label:not(custom-file-label):after {
    content: "Browse" !important;
    color: black !important;
}

.prompt-msg {
    text-align: right;
    margin-right: 120px;
    color: gray;
    font-size: .9em;
}

.short-title-wrapper {
    width: 95%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden-btn {
    opacity: 0;
    pointer-events: none
}

.decline-text {
    text-decoration: line-through;
}

.warning-text {
    color: red;
}

.custom-file-label {
    z-index: 0 !important;
}

.header-table-note {
    margin-top: 10px;
    font-size: 1.1em;
}

.digit {
    text-align: right !important;
}

.right-align-column-header {
    text-align: right !important;
    margin-right: 5px;
}

.disabled-column-text {
    text-align: center !important;
}

.number-input-error {
    padding-right: 12px !important;
}

.qty-input {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
